// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './styles/themes/themes';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  margin: 0;
  height: 100%;

  font: var(--mat-sys-body-medium);

  background-color: var(--color-background);
  color: var(--color-text);

  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}
/* You can add global styles to this file, and also import other style files */

.loader {
  width: 32px;
  height: 32px;
  border: 3px solid var(--color-border);
  border-top-color: var(--color-primary);
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
